.burger-menu {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 100;
  }

  .bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s; 
  }

  .burger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


  .burger-menu.active + nav {
    display: block;

  }

  .burger-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    min-width: 150px; 
  }

  .burger-menu.active + .burger-dropdown { 
    display: block;
  }

  .burger-dropdown li {
    display: block; 
    padding: 10px;
  }